.navbar {
  width: 100%;
  padding: 18px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  background: rgba(10, 10, 25, 0.8);
  backdrop-filter: blur(10px);
  z-index: 1000;
}

.logo {
  font-size: 22px;
  font-weight: 700;
  color: white;
}

.nav-links {
  display: flex;
  gap: 25px;
}

.nav-links a {
  color: #dcdcdc;
  text-decoration: none;
  font-size: 16px;
  transition: 0.3s;
}

.nav-links a:hover,
.nav-links .active {
  color: white;
}

.nav-button {
  padding: 8px 18px;
  background: white;
  color: black !important;
  border-radius: 8px;
  font-weight: bold;
}

.nav-button:hover {
  background: #f1f1f1;
}
